.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
  }
  
  .list-group-item.active {
    background-color: #6c757d !important;
    color: white !important;
  }
  
  .form-container {
    background: white;
  }
  
  button {
    width: 100%;
  }
  