<div class="container mt-5">
    <h3 class="mb-4 text-center">Road Construction Data</h3>
    
    <div class="d-flex justify-content-end mb-4">
      <button class="btn btn-primary btn-sm" (click)="addNewData()">Add New Data</button>
    </div>
  
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sampling Time</th>
          <th scope="col">Project Name</th>
          <th scope="col">Construction Count</th>
          <th scope="col">Is Construction Completed</th>
          <th scope="col">Length of the Road</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.samplingTime }}</td>
          <td>{{ getPropertyValue(item.properties, 'Project Name') }}</td>
          <td>{{ getPropertyValue(item.properties, 'Construction Count') }}</td>
          <td>{{ getPropertyValue(item.properties, 'Is Construction Completed') }}</td>
          <td>{{ getPropertyValue(item.properties, 'Length of the road') }}</td>
          <td><button class="btn btn-primary btn-sm" (click)="editData(item.id)"> Edit </button></td>
        </tr>
      </tbody>
    </table>
  </div>
